<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap-grid.css" type="text/css" rel="stylesheet">

    <link href="/css/bootstrap.css-reboot" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="jumbotron">
                <p class="lead">$!{staff.name}</p>
                <hr class="my-4">
                <div class="row justify-content-md-center">
                    <table class="table">
                        <tr>
                            <td>staffId</td>
                            <td>$!{staff.staffId}</td>
                        </tr>
                        <tr>
                            <td>headUrl</td>
                            <td>$!{staff.headUrl}</td>
                        </tr>
                        <tr>
                            <td>gender</td>
                            <td>$!{staff.gender}</td>
                        </tr>
                        <tr>
                            <td>birthYear</td>
                            <td>$!{staff.birthYear}</td>
                        </tr>
                        <tr>
                            <td>address</td>
                            <td>$!{staff.address}</td>
                        </tr>
                        <tr>
                            <td>phoneNumber</td>
                            <td>$!{staff.phoneNumber}</td>
                        </tr>
                        <tr>
                            <td>departmentName</td>
                            <td>$!{staff.departmentName}</td>
                        </tr>

                    </table>
                  <div class="col-md-auto">
                       <form action="/addStaff" method="post" class="form-inline my-2 my-lg-0">
                          <div class="modal-body">
                                                        <input name="staffId" value="${staff.staffId}" class="form-control mr-sm-2" type="hidden" aria-label="Search">
                                                        <input name="name" class="form-control mr-sm-2" type="text" placeholder="name" aria-label="Search">
                                                        <input name="headUrl" class="form-control mr-sm-2" type="text" placeholder="headUrl" aria-label="Search">
                                                        <input name="gender" class="form-control mr-sm-2" type="text" placeholder="gender" aria-label="Search">
                                                        <br>
                                                        <input name="birthYear" class="form-control mr-sm-2" type="text" placeholder="birthYear" aria-label="Search">
                                                        <input name="address" class="form-control mr-sm-2" type="text" placeholder="address" aria-label="Search">
                                                        <input name="phoneNumber" class="form-control mr-sm-2" type="text" placeholder="phoneNumber" aria-label="Search">
                                                        <input name="departmentName" class="form-control mr-sm-2" type="text" placeholder="departmentName" aria-label="Search">
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">更新</button>
                          </div>  
                        </form>           
                    </div>

                    <form action="/deleteStaff" method="post" class="form-inline my-2 my-lg-0">
                                <input name="staffId" value="${staff.staffId}" class="form-control mr-sm-2" type="hidden" >
                                <input name="departmentName" value="$!{staff.departmentName}" class="form-control mr-sm-2" type="hidden" >
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">删除</button>
                            </form>
                    <div class="col"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>